body {
    background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
table,.game{
    width: 400px;
}
.game {
    margin-left: auto;
    margin-right: auto;
    font-size: 32px;
    height: 400px;
    padding: 0px;
    position: relative;
}
table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    border: 3px solid green;
    padding: 10px;
    font-family: Fantasy;
}
td {
    background-color: #eee;
    width: 5vw;
    height: 5vw;
    border: 2px solid green;
    padding-top: 10px;
    line-height: 96px;
    font-size: 32px;
}