@import url(./fonts/font.css);

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
}

:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  font-family: Clear Sans, Arial, sans-serif;
  background: #57407c;
  color: #fff;
}

@media screen and (max-width: 520px) {
  body {
    font-size: 12px;
  }
}

.container {
  width: 520px;
  margin: 0px auto;
}

.headertext {
  font-family: Pacifico, cursive;
  font-size: 60px;
  padding-left: 7px;
  margin-left: 2px;
  background: linear-gradient(45deg, #833ab4, #f06292);
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 27px;
}

.headertext span {
  font-size: 85px;
}

.gamescore {
  padding: 0px 15px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.gamescore_button {
  font-size: 22px;
  width: 150px;
  display: block;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  outline: none;
  text-decoration: none;
  line-height: 60px;
  text-align: center;
  background-color: rgb(61, 41, 99);
  color: rgba(255, 255, 255, 0.5);
  transition: opacity 0.3s;
}

.score {
  background: rgb(61, 41, 99);
  display: flex;
  margin-left: 10px;
  padding-left: 15px;
  border-radius: 8px;
}

.score .move,
.score .best,
.score .time {
  position: relative;
  display: inline-block;
  text-align: right;
  width: 97px;
  padding: 13px 20px 0px 10px;
  float: right;
}

.score .score-title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 12px;
  color: rgb(255, 255, 255);
}
.score .move-container,
.score .best-container,
.score .time-container {
  font-size: 21px;
  line-height: 25px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.grid {
  margin: 5px 0px;
  grid-template-columns: auto auto auto auto;
  display: grid;
  position: relative;
  padding: 15px;
  cursor: default;
  touch-action: none;
  background: rgb(87, 64, 124);
  border-radius: 12px;
  width: 520px;
  height: 520px;
}
.cell {
  width: 107px;
  height: 107px;
  margin-right: 15px;
  border-radius: 10px;
  background-color: rgb(61, 41, 99);
}
.number-cell {
  display: flex;
  border-radius: 10px;
  background: rgb(106, 198, 184);
  cursor: pointer;
  position: relative;
  user-select: none;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-family: Pacifico, cursive;
  text-align: center;
  font-weight: bold;
  z-index: 10;
  font-size: 75px;
  width: 107px;
  transition: transform 0.3s;
  animation-duration: 0.75s;
  animation-name: bounceIn;
  height: 107px;
  transform: translate3d(0px, 0px, 0px);
}
.number-cell-correct {
  background: rgb(232, 138, 69);
}
.number-cell-empty {
  display: none;
}

@keyframes bounceIn {
  from,
  20%,
  40%,
  60%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(0, 0, 0);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

.gameinstruction {
  display: block;
  float: right;
  margin-top: 18px;
  font-size: 22px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.gameinstruction strong {
  color: rgb(255, 255, 255);
  font-size: inherit;
}

.footer {
  width: 100%;
  height: 22px;
  background: rgb(87, 64, 124);
  z-index: 10;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 9px;
}

.footer .text {
  color: rgb(255, 255, 255);
  font-family: "Clear Sans", Arial, sans-serif;
  text-align: center;
  bottom: 0px;
  margin: 11px auto 0px;
}

.footer .text a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.footer .logos {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  margin-top: 29px;
}
.profile {
  fill: rgb(61, 41, 99);
}
